.modal-wide {
  max-width: 900px;
  border-radius: 24px;
  
  // @media (min-width: 576px) {
  //   border-radius: 24px;
  // }

  .modal-header {
    border-bottom: 1px solid $neutral-400;
    @media (min-width: 992px) {
      border-bottom: none;
    }
  }

  .modal-title {
    padding-top: 36px;
    padding-bottom: 20px;
    letter-spacing: 0.1rem;
    font-size: 16px;

    @media (min-width: 992px) {
      padding: 0;
      font-size: 32px;
    }
  }

  .modal-content {
    border: none;
    border-radius: unset;
    overflow-y: auto;

    @media (min-width: 576px) {
      border-radius: 24px;
      overflow: hidden;
    }
  }
}