.custom-input {
  background-color: $neutral-200;

  &::placeholder {
    color: $neutral-600;
  }

  &:focus {
    background-color: $neutral-100;
    color: $neutral-800
  }
}

.subscription-info {
  &-title {
    font-size: 14px;
    color: $neutral-600;
  }

  &-content {
    font-size: 14px;
    color: $neutral-800;
  }

  &-divider {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: $neutral-400;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.vertical-divider {
  width: 1px;
  height: 180px;
  background-color: $neutral-400;
  margin: 42px 4px;
}

.subscription-table {
  thead {
    th {
      background-color: $neutral-300;
      padding: 16px 24px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0.1rem;
      color: $neutral-600;
      text-align: center;
    }

    th:first-child {
      text-align: left;
    }
  }

  tbody {
    font-size: 14px;

    tr:hover {
      background-color: $neutral-300;
    }

    th,
    td {
      background-color: transparent;
      padding: 20px 24px;
      text-align: center;

      button {
        padding: 6px;
      }
    }

    th {
      text-align: left;
      font-weight: normal;
      color: $semantic-link;
    }
  }
}